body,html{
	margin:0;
	padding:0;
	min-height:100%;
}
body {
	background-image:url("theme.jpg");
	background-repeat: no-repeat;
	background-size:cover;
}
.top_header{
	width: 100%;
	font:6em "Amatic SC", cursive;
	color: white;
	text-underline-position:below;
	text-shadow: 2px 2px 0 rgba(0,0,0,.2);
	text-align:center;
}
.text{
	
	width:100%;
	font:3em "Amatic SC", cursive;
	color: white;
	text-underline-position:below;
	text-shadow: 2px 2px 0 rgba(0,0,0,.2);
	text-align:center;
	vertical-align: inherit
}
#nav{
	color: blue;
	width: 100%;
	background-color:yellow;
	
	
}
#nav_wrapper{
	width: 100%;
	margin: 0 auto;
	text-align:left;
	
}
#nav ul{
	list-style-type:none;
	margin: 0;
}

#nav ul li{
	display:inline-block;
	font:1.5em "Arial Rounded MT Bold";
	margin-left: 3px;
}
#nav ul li:hover{
	background-color: orange;
}
#nav ul li a,visited{
	display:block;
	color:#CCC;
	text-decoration: none;
	
}
.dropdown{
	position: relative;
	display: inline-block;
	
}
.dropbtn{
	display:inline-block;
	font:1em "Arial Rounded MT Bold";
	background-color: yellow;
	border:none;
	cursor:pointer;
	position:relative;
	text-decoration:none;
}
.dropdown-content{
	display:none;
	position:absolute;
	background-color:yellow;	
}
.dropdown-content a{
	display: block;
	background-color:black;
	text-decoration: none;
	
	
}
.dropdown:hover .dropdown-content{
	display: block;
	background-color:orange;
}
.dropdown-content a:hover{
	background-color:#C0C0C0;
}
.dropdown:before .dropbtn{
	content: "";
	position: absolute;
	width: 100%;
	height: 2px;
	bottom: 0;
	left: 0;
	background-color:orange;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;	
}
.dropdown:hover .dropbtn{
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.social{
	position:relative;
	display:inline-block;	
}
.socialbtn{
	display:inline-block;
	font:1em "Arial Rounded MT Bold";
	background-color: yellow;
	border:none;
	cursor:pointer;
}
.social-content{
	display:none;
	position:absolute;
	background-color:yellow;	
}
.social-content a{
	display:block;
	background-color:black;
	text-decoration:none;
}
.social:hover .social-content{
	display: block;
	background-color:orange;

}
.social:hover .socialbtn{
	background-color:orange;

}
.social-content a:hover{
		background-color:#C0C0C0;

}
.morebtn{
	display:inline-block;
	font:1em "Arial Rounded MT Bold";
	background-color: yellow;
	border:none;
	cursor:pointer;
}
.projectbtn{
	display:inline-block;
	font:1em "Arial Rounded MT Bold";
	background-color: black;
	border:none;
	cursor:pointer;
}
.projectbtn:hover{
	background-color:#C0C0C0;
}
